html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: Montserrat, sans-serif; }

.Stat {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 8px; }
  .Stat_Name {
    width: 70px;
    text-transform: lowercase; }
  .Stat_Bar {
    height: 15px;
    display: inline-block;
    margin-right: 6px; }
    .Stat_Bar--low {
      background: #e74c3c; }
    .Stat_Bar--meh {
      background: #ff9800; }
    .Stat_Bar--med {
      background: #ffc107; }
    .Stat_Bar--good {
      background: #8bc34a; }
    .Stat_Bar--veryGood {
      background: #27ae60; }
    .Stat_Bar--superb {
      background: #00bcd4; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: Montserrat, sans-serif; }

.Details_Abilities {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column; }

.Ability {
  margin-right: auto; }
  .Ability:hover {
    cursor: help; }
  .Ability--hidden {
    -ms-flex-order: 4;
        order: 4; }
  .Ability_Hidden {
    display: inline-block;
    border: solid 1px #e74c3c;
    color: #e74c3c;
    padding: 4px 6px;
    margin-left: 8px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px; }

.ExtraInfo {
  text-align: right; }
  .ExtraInfo p {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    -ms-flex-align: start;
        align-items: flex-start; }

.ExtraInfo_Title {
  text-align: left;
  display: inline-block;
  width: 100px; }

.ExtraInfo_Value {
  display: inline-block;
  width: 55px;
  white-space: pre-line; }

.ExtraInfo_EffortValues span span + span:before {
  content: ', '; }

.Details {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .Details_Abilities,
  .Details .ExtraInfo {
    width: 50%;
    font-size: 14px;
    margin-bottom: 20px; }
    .Details_Abilities h3,
    .Details .ExtraInfo h3 {
      font-weight: 300;
      text-decoration: underline;
      margin-bottom: 7px; }
    .Details_Abilities p,
    .Details .ExtraInfo p {
      height: 20px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
          align-items: center;
      margin-bottom: 1px; }
