@import '../../Commons';

.Evol {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 26px;
  &_Triggers {
    display: flex;
    font-size: 14px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 14px;
    flex-shrink: 0;
    flex-direction: column;
    &:empty {
      display: none;
    }
  }
  &_EvolSingle {
    display: flex;
    align-items: center;
  }
  a {
    text-align: center;
  }
  &_Img {
    width: 76px;
  }
}

.EvolTrigger {
  font-size: 12px;
  text-align: center;
  background: darken($moss,5%);
  border-radius: 3px;
  padding: 7px;
  color: white;
  font-weight: 200;
  width: 100%;
  box-sizing: border-box;
}

.Evol_OtherTriggers {
  font-size: 12px;
  background: white;
  border: solid 1px $light-grey;
  border-top: none;
  border-radius: 0 0 3px 3px;
  padding: 6px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  // Ugly hack for border radius on
  // main trigger when no other triggers
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -4px;
    left: -1px;
    width: 100%;
    height: 4px;
    border-left: solid 1px darken($moss,5%);
    border-right: solid 1px darken($moss,5%);
    background: darken($moss,5%);
  }
  &:empty {
    display: none;
  }
}

.OtherTrigger {
  width: 44px;
  text-align: center;
  &:not(:last-of-type) {
    margin-bottom: 5px;
  }

  > span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &--location {
    width: 100px;
    span span:not(:last-child) {
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
  }
}
