.BackToTop {
  border: solid 1px #A1A1A1;
  text-transform: uppercase;
  position: fixed;
  bottom: 40px;
  right: 9px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: -1; }
  .BackToTop.visible {
    opacity: 1;
    z-index: 1; }
  .BackToTop:hover {
    background: #eeeeee; }
  .BackToTop .Icon {
    margin-right: 0; }
  @media screen and (max-width: 600px) {
    .BackToTop {
      display: none; } }
