.Info {
  position: fixed;
  bottom: 12px;
  right: 12px; }
  .Info_Toggle {
    position: relative; }
    .Info_Toggle:after {
      content: 'i';
      font-family: serif;
      font-style: italic;
      position: absolute;
      left: -2px;
      top: -2px;
      width: 16px;
      height: 16px;
      text-align: center;
      line-height: 16px;
      background: #949494;
      color: white;
      cursor: pointer;
      border-radius: 16px; }
    .Info_Toggle:hover:after {
      background: gray; }
    .Info_Toggle:checked + .Info_Popup {
      display: block; }
  .Info_Popup {
    position: absolute;
    bottom: 130%;
    right: 0;
    background: white;
    border: solid 1px #A1A1A1;
    border-radius: 4px;
    padding: 10px 14px;
    font-size: 13px;
    display: none;
    width: 170px;
    line-height: 130%; }
    .Info_Popup a {
      display: block;
      margin: 4px 0;
      font-weight: 700; }
  @media screen and (max-width: 600px) {
    .Info {
      display: none; } }
