.Search {
  display: inline-block;
  transform: translateX(-50%);
  width: 70%;
  max-width: 460px;
  box-sizing: border-box;
  position: relative;
  z-index: 2; }
  @media screen and (max-width: 800px) {
    .Search {
      max-width: 560px; } }
  @media screen and (max-width: 600px) {
    .Search {
      width: 90%; } }
  @media screen and (max-width: 1000px) {
    .Search {
      width: 80%;
      max-width: 1000px;
      transform: none; } }
  @media screen and (max-width: 600px) {
    .Search {
      width: 100%; } }

.awesomplete {
  width: 100%; }

.Search_Input {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 10px;
  font-size: 14px;
  border: solid 1px #A1A1A1; }
  .Search_Input:focus {
    outline: none; }

.Search_Btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 10px;
  border: none;
  background: none;
  cursor: pointer;
  border-left: solid 1px #A1A1A1;
  width: 36px; }
  .Search_Btn:focus {
    outline: none; }
  .Search_Btn .Icon--search {
    width: 15px;
    height: 16px;
    margin-right: 0;
    position: relative;
    left: -1px;
    top: 1px; }
