@import '../Commons';

.BackToTop {
  border: solid 1px $light-grey;
  text-transform: uppercase;
  position: fixed;
  bottom: 50px;
  right: 12px;
  border-radius: 4px;
  cursor: pointer;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  z-index: -1;
  &.visible {
    opacity: 0.4;
    z-index: 1;
  }
  &:hover {
    opacity: 1;
    background: lighten($light-grey, 30%);
  }

  .Icon {
    margin-right: 0;
  }
  @media screen and (max-width: 800px) {
    width: 47px;
    bottom: 110px;
  }
  @media screen and (max-width: 600px) {
    display: none;
  }
}
