@import '../Commons';
@import './NextPrevBtns';

.Info {
  position: fixed;
  bottom: 12px;
  right: 12px;
  font-size: 13px;
  line-height: 18px;
  cursor: pointer;
  border: solid 1px $light-grey;
  border-radius: 4px;
  opacity: 0.3;
  transition: opacity 0.2s ease-out;
  &:hover {
    opacity: 1;
  }
  &_Toggle,
  a {
    color: $grey;
    display: inline-block;
    text-align: center;
    padding: 5px 8px;
    &:hover {
      background: white;
    }
  }
  &_Toggle {
    border-radius: 0 4px 4px 0;
  }
  &_Popup {
    position: absolute;
    bottom: 130%;
    right: 0;
    background: white;
    border: solid 1px $light-grey;
    border-radius: 4px;
    padding: 10px 14px;
    font-size: 13px;
    display: none;
    width: 170px;
    line-height: 130%;
    p {
      margin-bottom: 8px;
    }
    a {
      display: block;
      margin: 4px 0;
      font-weight: 700;
      text-align: left;
    }
    &.visible {
      display: block;
    }
  }
  @media screen and (max-width: 800px) {
    .Info_Toggle,
    .NextPrevBtns,
    .NextPrevBtns_Btn {
      display: block;
    }
    .Info_Toggle {
      border-radius: 0 0 4px 4px;
    }
  }
  @media screen and (max-width: 600px) {
    display: none;
  }
}
