@import '../Commons';
@import './Awesomeplete';

.Search {
  display: inline-flex;
  transform: translateX(-50%);
  @include container;
  position: relative;
  z-index: 2;
  @media screen and (max-width: 1000px) {
    width: 80%;
    max-width: 1000px;
    transform: none;
  }
  @media screen and (max-width: 600px) {
    width: 100%;
  }
}

.awesomplete {
  width: 100%;
}

.Search_Input {
  width: 100%;
  height: 32px;
  box-sizing: border-box;
  padding: 6px 10px;
  font-size: 14px;
  border: solid 1px $light-grey;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
}

@media screen and (max-width: 600px) {
  .fixed-header {
    .Search {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      box-shadow: 0 0 6px 5px rgba(0,0,0,0.11);
      &_Input {
        border: none;
        padding: 11px 18px;
      }
      &_Btn {
        width: 44px;
        border-left: solid 1px rgba(0,0,0,0.1);
      }
    }
  }
}

.Search_Btn {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  border: none;
  background: none;
  cursor: pointer;
  border-left: solid 1px $light-grey;
  width: 36px;
  height: 100%;
  &:focus {
    outline: none;
  }

  .Icon--search {
    width: 15px;
    height: 16px;
    margin-right: 0;
    position: relative;
    left: -1px;
    top: 1px;
  }
}
