@import './Reset',
        './Fonts',
        './Nav/Nav',
        './Components/Search',
        './Components/Icon',
        './Components/Info',
        './Components/BackToTop',
        './Commons',
        './All/ListItem',
        './Base';

.fixed-allHeader {
  .AllListHeader {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 464px;
    box-shadow: 0 10px 20px -5px rgba(0,0,0,0.15);
    @include container;
    margin-left: -1px;
    border-left: solid 1px lighten($light-grey, 12%);
    border-right: solid 1px lighten($light-grey, 12%);
    min-width: 440px;
    @media screen and (max-width: 600px) {
      top: 40px;
      left: 0;
      border: none;
      margin-left: 0;
      min-width: 0;
      width: 100%;
      padding: 10px 24px;
    }
  }
}

main {
  min-width: 440px;
  @media screen and (max-width: 600px) {
    width: 100%;
    padding: 0 16px;
  }
  @media screen and (max-width: 500px) {
    min-width: 0;
  }
}

.AllList {
  border: solid 1px lighten($light-grey, 12%);
}

.AllListHeader {
  font-size: 13px;
  font-weight: 700;
  padding: 10px 8px;
  box-sizing: border-box;
  background: white;
  border-bottom: solid 1px lighten($light-grey, 30%);

  @media screen and (max-width: 500px) {
    font-size: 12px;
    display: flex;
  }

  > div {
    display: inline-flex;
    align-items: center;
    &:not(.AllListHeader_Name) {
      justify-content: center;
    }
  }

  &_Id {
    width: 10%;
    text-align: center;
    margin-left: 32px;
    @media screen and (max-width: 500px) {
      display: none !important;
    }
  }

  &_Name {
    width: 22%;
    @media screen and (max-width: 500px) {
      margin-left: 36px;
    }
  }

  &_Types {
    width: 13%;
    margin-right: 9px;
    text-align: center;
    @media screen and (max-width: 500px) {
      width: 8%;
    }
  }

  &_Stats {
    width: 45%;
    @media screen and (max-width: 500px) {
      width: 60%;
    }
  }

  &_Stat {
    font-size: 12px;
    display: inline-flex;
    width: 14.285%;
    align-items: center;
    justify-content: center;
    text-align: center;
    @media screen and (max-width: 500px) {
      width: 16.66%;
    }
    &:last-of-type {
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
  }
}
