@import './Reset',
        './Commons',
        './Fonts',
        './Components/Search',
        './Components/Icon',
        './Components/Tooltip',
        './Entry/Id/Id',
        './Entry/Evol/Evol',
        './Entry/Details/Details',
        './Entry/DmgChart/DmgChart',
        './Nav/Nav';

body {
  background: $bg;
}
main {
  @include container;
  margin: 0 auto;
}

* {
  color: $grey;
}
