@import './Reset',
        './Fonts',
        './Nav/Nav',
        './Components/Search',
        './Components/Icon',
        './Components/Info',
        './Commons',
        './Base';

.Homepage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: -110px;
  h3 {
    font-size: 14px;
    font-weight: 300;
    padding-left: 2px;
    margin-bottom: 14px;
    color: lighten($grey, 10%);
  }
  .Search {
    width: 100%;
    transform: none;
    margin-bottom: 10px;
  }
  a {
    @include link;
    padding: 4px 0;
  }
  // Can be changed when/if Pokemon
  // Showdown stuff is ever removed
  // Should be margin: 0 auto 80px
  main {
    margin: 0 auto;
  }
  h1.LogoWrap_Name {
    font-weight: 400;
    font-size: 16px;
  }
  .LogoWrap_NameInner {
    font-size: 25px;
    font-weight: bold;
  }
}
