@mixin container {
  width: 70%;
  max-width: 460px;
  box-sizing: border-box;

  @media screen and (max-width: 800px) {
    max-width: 560px;
  }
  @media screen and (max-width: 600px) {
    width: 90%;
  }
}

@mixin link {
  font-size: 12px;
  color: $light-grey;
  text-decoration: none;
  white-space: nowrap;
  &:hover {
    color: $grey;
  }
}

@mixin typeColors {
  &--normal {
    background: #A8A878;
  }
  &--fighting {
    background: #C03028;
  }
  &--flying {
    background: #A890F0;
  }
  &--fire {
    background: #F08030;
  }
  &--water {
    background: #6890F0;
  }
  &--grass {
    background: #78C850;
  }
  &--electric {
    background: #F8D030;
  }
  &--poison {
    background: #A040A0;
  }
  &--ground {
    background: #E0C068;
  }
  &--rock {
    background: #B8A038;
  }
  &--psychic {
    background: #F85888;
  }
  &--ice {
    background: #98D8D8;
  }
  &--bug {
    background: #A8B820;
  }
  &--dragon {
    background: #7038F8;
  }
  &--ghost {
    background: #705898;
  }
  &--dark {
    background: #705848;
  }
  &--steel {
    background: #B8B8D0;
  }
  &--fairy {
    background: #F6B4F6;
  }
}

@mixin typeReduction($width) {
  @media screen and (max-width: $width) {
    font-size: 0 !important;
    position: relative;
    height: 15px;
    &:before {
      position: absolute;
      display: inline-block;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      font-size: 12px;
    }
  }
  &--normal:before {
    @media screen and (max-width: $width) {
      content: 'nor';
    }
  }
  &--fighting:before {
    @media screen and (max-width: $width) {
      content: 'fght';
    }
  }
  &--flying:before {
    @media screen and (max-width: $width) {
      content: 'fly';
    }
  }
  &--fire:before {
    @media screen and (max-width: $width) {
      content: 'fire';
    }
  }
  &--water:before {
    @media screen and (max-width: $width) {
      content: 'wtr';
    }
  }
  &--grass:before {
    @media screen and (max-width: $width) {
      content: 'gra';
    }
  }
  &--electric:before {
    @media screen and (max-width: $width) {
      content: 'elec';
    }
  }
  &--poison:before {
    @media screen and (max-width: $width) {
      content: 'psn';
    }
  }
  &--ground:before {
    @media screen and (max-width: $width) {
      content: 'grnd';
    }
  }
  &--rock:before {
    @media screen and (max-width: $width) {
      content: 'rock';
    }
  }
  &--psychic:before {
    @media screen and (max-width: $width) {
      content: 'psy';
    }
  }
  &--ice:before {
    @media screen and (max-width: $width) {
      content: 'ice';
    }
  }
  &--bug:before {
    @media screen and (max-width: $width) {
      content: 'bug';
    }
  }
  &--dragon:before {
    @media screen and (max-width: $width) {
      content: 'drg';
    }
  }
  &--ghost:before {
    @media screen and (max-width: $width) {
      content: 'gho';
    }
  }
  &--dark:before {
    @media screen and (max-width: $width) {
      content: 'dark';
    }
  }
  &--steel:before {
    @media screen and (max-width: $width) {
      content: 'ste';
    }
  }
  &--fairy:before {
    @media screen and (max-width: $width) {
      content: 'fry';
    }
  }
}
