@mixin container {
  width: 70%;
  max-width: 460px;
  box-sizing: border-box;
}

@mixin typeColors {
  &--normal {
    background: #A8A878;
  }
  &--fighting {
    background: #C03028;
  }
  &--flying {
    background: #A890F0;
  }
  &--fire {
    background: #F08030;
  }
  &--water {
    background: #6890F0;
  }
  &--grass {
    background: #78C850;
  }
  &--electric {
    background: #F8D030;
  }
  &--poison {
    background: #A040A0;
  }
  &--ground {
    background: #E0C068;
  }
  &--rock {
    background: #B8A038;
  }
  &--psychic {
    background: #F85888;
  }
  &--ice {
    background: #98D8D8;
  }
  &--bug {
    background: #A8B820;
  }
  &--dragon {
    background: #7038F8;
  }
  &--ghost {
    background: #705898;
  }
  &--dark {
    background: #705848;
  }
  &--steel {
    background: #B8B8D0;
  }
  &--fairy {
    background: #F6B4F6;
  }
}
