html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: Montserrat, sans-serif; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: Montserrat, sans-serif; }

.Search {
  display: inline-block;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 70%;
  max-width: 460px;
  box-sizing: border-box;
  position: relative; }

.awesomplete {
  width: 100%; }

.Search_Input {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 10px;
  font-size: 14px;
  border: solid 1px #A1A1A1; }
  .Search_Input:focus {
    outline: none; }

.Search_Btn {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 10px;
  border: none;
  background: none;
  cursor: pointer;
  border-left: solid 1px #A1A1A1; }
  .Search_Btn:focus {
    outline: none; }
  .Search_Btn .Icon--search {
    width: 16px;
    height: 16px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: Montserrat, sans-serif; }

.IconWrap {
  position: relative; }
  .IconWrap:hover .IconTooltip {
    opacity: 1;
    z-index: 1; }

.Icon {
  width: 12px;
  height: 12px;
  padding: 2px;
  background: white;
  border-radius: 2px;
  margin-right: 4px; }

.IconTooltip {
  position: absolute;
  top: 140%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #343434;
  width: auto;
  border-radius: 4px;
  padding: 7px 10px;
  color: white;
  white-space: nowrap;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out; }
  .IconTooltip:empty {
    display: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: Montserrat, sans-serif; }

.Id_Type {
  width: 100px;
  line-height: 27px;
  text-align: center;
  color: white;
  border-radius: 4px; }
  .Id_Type:first-of-type {
    margin-bottom: 6px; }
  .Id_Type--normal {
    background: #A8A878; }
  .Id_Type--fighting {
    background: #C03028; }
  .Id_Type--flying {
    background: #A890F0; }
  .Id_Type--fire {
    background: #F08030; }
  .Id_Type--water {
    background: #6890F0; }
  .Id_Type--grass {
    background: #78C850; }
  .Id_Type--electric {
    background: #F8D030; }
  .Id_Type--poison {
    background: #A040A0; }
  .Id_Type--ground {
    background: #E0C068; }
  .Id_Type--rock {
    background: #B8A038; }
  .Id_Type--psychic {
    background: #F85888; }
  .Id_Type--ice {
    background: #98D8D8; }
  .Id_Type--bug {
    background: #A8B820; }
  .Id_Type--dragon {
    background: #7038F8; }
  .Id_Type--ghost {
    background: #705898; }
  .Id_Type--dark {
    background: #705848; }
  .Id_Type--steel {
    background: #B8B8D0; }
  .Id_Type--fairy {
    background: #F6B4F6; }

.Id {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .Id_Img {
    margin-right: 14px; }
  .Id_Name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px; }
  .Id_Types {
    margin-left: auto; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: Montserrat, sans-serif; }

.Evol {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .Evol_Triggers {
    display: inline-block;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 56px; }
    .Evol_Triggers:empty {
      display: none; }
  .Evol_EvolSingle {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .Evol a {
    text-align: center; }
  .Evol_Img {
    width: 80%; }

.EvolTrigger {
  font-size: 12px;
  width: 100%;
  text-align: center;
  background: #61ab99;
  border-radius: 3px 3px 0 0;
  padding: 7px;
  color: white;
  font-weight: 200; }

.Evol_OtherTriggers {
  font-size: 12px;
  width: 100%;
  background: white;
  border: solid 1px #A1A1A1;
  border-top: none;
  border-radius: 0 0 3px 3px;
  padding: 6px;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .Evol_OtherTriggers:empty {
    display: none; }

.OtherTrigger {
  width: 100%;
  text-align: center; }
  .OtherTrigger:not(:last-of-type) {
    margin-bottom: 5px; }
  .OtherTrigger span {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: Montserrat, sans-serif; }

.Stat {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px; }
  .Stat_Name {
    width: 70px;
    text-transform: lowercase; }
  .Stat_Bar {
    height: 15px;
    display: inline-block;
    margin-right: 6px; }
    .Stat_Bar--low {
      background: #f44336; }
    .Stat_Bar--med {
      background: #ffc107; }
    .Stat_Bar--good {
      background: #8bc34a; }
    .Stat_Bar--veryGood {
      background: #27ae60; }
    .Stat_Bar--superb {
      background: #2196f3; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  font-family: Montserrat, sans-serif; }

nav {
  background: #F2F1ED;
  padding: 16px 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  nav .Logo {
    display: inline-block;
    width: 50%; }
    nav .Logo_Img {
      display: inline-block; }
    nav .Logo_Name {
      display: inline-block; }

body {
  background: #F2F1ED; }

main {
  width: 70%;
  max-width: 460px;
  box-sizing: border-box;
  margin: 0 auto; }

* {
  color: #343434; }
