@import './Stats',
        './Abilities',
        './ExtraInfo';

.Details {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 26px;
  &_Abilities,
  .ExtraInfo {
    width: 50%;
    font-size: 14px;
    margin-bottom: 20px;
    h3 {
      font-weight: 300;
      text-decoration: underline;
      margin-bottom: 7px;
    }
    p {
      height: 20px;
      display: flex;
      align-items: center;
      margin-bottom: 1px;
      @media screen and (max-width: 340px) {
        margin-bottom: 5px;
        height: auto;
      }
    }
  }
}
