@import './Types';

.Id {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;
  &_Img {
    margin-right: 14px;
  }
  &_Identifiers {

  }
  &_Name {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 6px;
  }
  &_IdNumber {

  }
  &_Types {
    margin-left: auto;
  }
}
