@import '../../Commons';

.Id_Type {
  width: 100px;
  line-height: 27px;
  text-align: center;
  color: white;
  border-radius: 4px;
  &:first-of-type {
    margin-bottom: 6px;
  }

  @include typeColors;

  @media screen and (max-width: 340px) {
    line-height: 20px;
    width: 60px;
    font-size: 14px;
    font-weight: 700;
  }
}
