.MoveListWrap h3 {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: lowercase; }

.MoveListWrap--Tutor .MoveListHeader,
.MoveListWrap--Tutor .MoveList_Move, .MoveListWrap--Egg .MoveListHeader,
.MoveListWrap--Egg .MoveList_Move {
  padding-left: 3%; }

.MoveListHeader,
.MoveList {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .MoveListHeader_Number, .MoveListHeader_Category, .MoveListHeader_Power, .MoveListHeader_Accuracy, .MoveListHeader_Type,
  .MoveList_Number,
  .MoveList_Category,
  .MoveList_Power,
  .MoveList_Accuracy,
  .MoveList_Type {
    text-align: center; }
  .MoveListHeader_Number,
  .MoveList_Number {
    width: 10%; }
  .MoveListHeader_Name,
  .MoveList_Name {
    width: 40%; }
  .MoveListHeader_Type,
  .MoveList_Type {
    width: 15%; }
  .MoveListHeader_Category,
  .MoveList_Category {
    width: 10%; }
  .MoveListHeader_Power,
  .MoveList_Power {
    width: 10%; }
  .MoveListHeader_Accuracy,
  .MoveList_Accuracy {
    width: 10%; }

.MoveListHeader {
  padding: 12px 0;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      -ms-grid-row-align: center;
      align-items: center;
  border: solid 1px silver;
  border-bottom: solid 1px #eeeeee;
  font-size: 13px;
  font-weight: 700;
  background: white; }

.MoveList {
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 38px;
  border: solid 1px silver;
  border-top: none; }
  .MoveList_Move {
    width: 100%;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    padding: 12px 0;
    border-bottom: solid 1px #eeeeee;
    background: white;
    font-size: 14px; }
    .MoveList_Move:hover {
      background: #fafafa; }
  .MoveList_Type {
    color: white;
    text-align: center;
    padding: 4px 0;
    border-radius: 4px; }
    .MoveList_Type--normal {
      background: #A8A878; }
    .MoveList_Type--fighting {
      background: #C03028; }
    .MoveList_Type--flying {
      background: #A890F0; }
    .MoveList_Type--fire {
      background: #F08030; }
    .MoveList_Type--water {
      background: #6890F0; }
    .MoveList_Type--grass {
      background: #78C850; }
    .MoveList_Type--electric {
      background: #F8D030; }
    .MoveList_Type--poison {
      background: #A040A0; }
    .MoveList_Type--ground {
      background: #E0C068; }
    .MoveList_Type--rock {
      background: #B8A038; }
    .MoveList_Type--psychic {
      background: #F85888; }
    .MoveList_Type--ice {
      background: #98D8D8; }
    .MoveList_Type--bug {
      background: #A8B820; }
    .MoveList_Type--dragon {
      background: #7038F8; }
    .MoveList_Type--ghost {
      background: #705898; }
    .MoveList_Type--dark {
      background: #705848; }
    .MoveList_Type--steel {
      background: #B8B8D0; }
    .MoveList_Type--fairy {
      background: #F6B4F6; }
  .MoveList_Category {
    height: 22px;
    border-radius: 4px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .MoveList_Category--physical {
      background: #FF4400; }
    .MoveList_Category--special {
      background: #2266CC; }
    .MoveList_Category--status {
      background: #999999; }
    .MoveList_Category .MoveList_Img {
      width: 15px; }
      .MoveList_Category .MoveList_Img--special {
        width: 18.5px; }

.Moves {
  margin-top: 46px; }
