@import '../../Commons.scss';

@mixin columnWidths {
  &_Number,
  &_Category,
  &_Power,
  &_Accuracy,
  &_Type {
    text-align: center;
  }
  &_Number {
    width: 10%;
    @media screen and (max-width: 400px) {
      width: 16%;
    }
  }
  &_Name {
    width: 40%;
    @media screen and (max-width: 400px) {
      width: 28%;
    }
  }
  &_Type {
    width: 15%;
    @media screen and (max-width: 400px) {
      width: 18%;
    }
  }
  &_Category {
    width: 10%;
    @media screen and (max-width: 400px) {
      width: 9%;
    }
  }
  &_Power {
    width: 10%;
    @media screen and (max-width: 400px) {
      width: 12%;
    }
  }
  &_Accuracy {
    width: 10%;
    @media screen and (max-width: 400px) {
      width: 12%;
    }
  }
}

.MoveListWrap {
  h3 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    text-transform: lowercase;
  }
  &--Tutor,
  &--Egg {
    .MoveListHeader,
    .MoveList_Move {
      padding-left: 3%;
    }
  }
}

.MoveListHeader,
.MoveList {
  display: flex;
  flex-wrap: wrap;
  @include columnWidths;
}

.MoveListHeader {
  padding: 12px 0;
  justify-content: space-between;
  align-items: center;
  border: solid 1px lighten($light-grey, 12%);
  border-bottom: solid 1px lighten($light-grey, 30%);
  font-size: 13px;
  font-weight: 700;
  background: white;
}

.MoveList {
  flex-direction: column;
  margin-bottom: 38px;
  border: solid 1px lighten($light-grey, 12%);
  border-top: none;

  &_Move {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: solid 1px lighten($light-grey, 30%);
    background: white;
    font-size: 14px;
    &--stab {
      position: relative;
      overflow: hidden;
      &:before {
        position: absolute;
        top: -12px;
        left: -12px;
        display: block;
        content: '';
        background: $amber;
        opacity: 0.7;
        width: 20px;
        height: 20px;
        transform: rotate(45deg);
      }
    }
    &:hover {
      background: darken(white, 2%);
    }
  }

  &_Number {
    &--machines {
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  &_Type {
    @include typeColors;
    color: white;
    text-align: center;
    padding: 4px 0;
    border-radius: 4px;
    @media screen and (max-width: 600px) {
      font-size: 12px;
      padding: 5px 0;
    }
  }
  &_Category {
    height: 22px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    &--physical {
      background: #FF4400;
    }
    &--special {
      background: #2266CC;
    }
    &--status {
      background: #999999;
    }
    .MoveList_Img {
      width: 15px;
      &--special {
        width: 18.5px;
      }
    }
  }
  &_NoMoves {
    padding: 12px;
    font-size: 14px;
    width: 100%;
    background: white;
    box-sizing: border-box;
  }
}
