@import './Commons',
        './Components/Search',
        './Entry/Id/Id',
        './Entry/Evol/Evol',
        './Entry/Details/Stats',
        './Nav/Nav';

body {
  background: $bg;
}
main {
  @include container;
  margin: 0 auto;
}

* {
  color: $grey;
}
